*, *::before, *::after {
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
}

body {
    background-color: #09090a;
}

body * {
    color: white;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;

    padding: 3rem;

    position: fixed;

    background-color: #09090a;
}

button {
    padding: 1rem 1.5rem;

    border: 1px solid #8b5cf6;
    border-radius: 8px;

    background-color: transparent;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 1rem;
    line-height: 125%;

    cursor: pointer;
}

#form-habits {
    display: flex;

    padding: 182px 3rem 3rem;

    width: fit-content;
}

.habits {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    margin-top: 56px;
}

.habit {
    width: 4rem;
    height: 4rem;

    font-size: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.days {
    display: flex;
    gap: 3rem;

    margin-left: 2rem;
}

.day {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.day div {
    margin-bottom: .5rem;

    font-family: "Roboto Mono", sans-serif;
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 125%;
    text-align: center;

    color: #a1a1aa;
}

input {
    width: 4rem;
    height: 4rem;

    appearance: none;
    -webkit-appearance: none;

    border: 2px solid #27272a;
    border-radius: 8px;

    background-color: #18181b;

    cursor: pointer;
}

input:checked {
    background-color: #8b5cf6;

    border-color: #a788fa;
}

@media (max-width: 570px) {
    button div {
        display: none;
    }
}